In [2]:
import pandas as pd
import numpy as np

In [3]:
# A series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called index
obj = pd.Series([4, 7, 5, -3])
# To specify index
obj2 = pd.Series([4, 7, -5, 3], index = ["a", "b", "c", "d"])
print(obj)
print(obj2)

0    4
1    7
2    5
3   -3
dtype: int64
a    4
b    7
c   -5
d    3
dtype: int64

In [4]:
print(obj.values)
print(obj.index)
print(obj2.index)

[ 4  7  5 -3]
RangeIndex(start=0, stop=4, step=1)
Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
# Accessing values in pd.Series 

obj[0] = 10

print(obj2["a"])
print(obj[0])
# Accessing multiple values in series
print(obj2[["a","b","c"]])

print('b' in obj2)
print('z' in obj2)

4
10
a    4
b    7
c   -5
dtype: int64
True
False

In [6]:
# Modifying valus in series
print(obj2[obj2 > 0])
print(obj2 * 2)
print(np.exp(obj2))

a    4
b    7
d    3
dtype: int64
a     8
b    14
c   -10
d     6
dtype: int64
a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [7]:
# Converting dictionary into seriess
d_data = {
    'Ohio': 30000,
    'Texas': 75000,
    'Oregon': 16000,  
    'Utah': 5000,
}

obj1 = pd.Series(d_data)
print(obj)

# Modifying the index
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(d_data, index = states)
# Since california is not found in d_data, it will return NaN which stands for Not a Number(means NA not available)
# And since Utah is not included, it is excluded from the resulting object
print(obj)

# Detecting missing data
print(obj.isnull())
print(obj.notnull())

0    10
1     7
2     5
3    -3
dtype: int64
0    10
1     7
2     5
3    -3
dtype: int64
0    False
1    False
2    False
3    False
dtype: bool
0    True
1    True
2    True
3    True
dtype: bool

In [8]:
# Modifying Series
print(obj1 + obj2)

print("====================================================================")

obj2.name = 'Population'
obj2.index.name = 'state'
print(obj2)

print("====================================================================")
# Modifying index
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

California         NaN
Ohio           60000.0
Oregon         32000.0
Texas         150000.0
Utah               NaN
dtype: float64
====================================================================
state
California        NaN
Ohio          30000.0
Oregon        16000.0
Texas         75000.0
Name: Population, dtype: float64
====================================================================
Bob      10
Steve     7
Jeff      5
Ryan     -3
dtype: int64

=======================================================================================================================================

DATAFRAME

In [14]:
# Creating DataFrame
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}

frame = pd.DataFrame(data)
print(frame)
print(frame.head())
print(frame.columns)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
Index(['state', 'year', 'pop'], dtype='object')

In [16]:
# Specifying column order
obj = pd.DataFrame(data, columns=['year', 'state', 'pop'])

print(obj)
# Showing year column
print(obj.year)

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2
0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [28]:
frame2 = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'debt'], 
                    index = ['one', 'two', 'three', 'four', 'five', 'six'])

print(frame2)

print("====================================================================")

# Inserting NaN values
frame2['debt'] = 16.5
print(frame2)

frame2['pop'] = np.arange(6)
print(frame2)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
====================================================================
       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5
       year   state  pop  debt
one    2000    Ohio    0  16.5
two    2001    Ohio    1  16.5
three  2002    Ohio    2  16.5
four   2001  Nevada    3  16.5
five   2002  Nevada    4  16.5
six    2003  Nevada    5  16.5

In [29]:
# Modifying value in dataframe
val = pd.Series([1.5, 3.0, -5.2], index = ['one', 'four', 'five'])

frame2['debt'] = val 
print(frame2)

       year   state  pop  debt
one    2000    Ohio    0   1.5
two    2001    Ohio    1   NaN
three  2002    Ohio    2   NaN
four   2001  Nevada    3   3.0
five   2002  Nevada    4  -5.2
six    2003  Nevada    5   NaN

In [31]:
# Creating a new column in dataframe
frame2['eastern'] = frame2.state == 'Ohio'
print(frame2)

# Deleting column using del keyword
del frame2['eastern']
print(frame2.columns)

       year   state  pop  debt  eastern
one    2000    Ohio    0   1.5     True
two    2001    Ohio    1   NaN     True
three  2002    Ohio    2   NaN     True
four   2001  Nevada    3   3.0    False
five   2002  Nevada    4  -5.2    False
six    2003  Nevada    5   NaN    False
Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [38]:
# Creating dataframe using nested dictionary
pop = {
    'Nevada': {
        2001: 2.4, 
        2002: 2.9,
    }, 
    'Ohio': {
        2000: 1.5,
        2001: 1.7,
        2002: 3.6,
    }
}

frame3 = pd.DataFrame(pop)
print(frame3)

# Transposing dataframe
print(frame3.T)

# The keys inside the inner dict are combined and sorted to form the index in the result unless it is specified
pd.DataFrame(pop, index = [2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN